.arrowLeft a {
position: fixed;
z-index: 100;
left: -5px;
top: 45%;
padding: 53px 19px;
-webkit-transition: .2s ease-in;
-moz-transition: .2s ease-in;
-o-transition: .2s ease-in;
transition: .2s ease-in;
background-image: url("../images/img-banner-prev.png");
}
 
.arrowLeft a:hover {
left: 0;
-webkit-transition: .2s ease-in;
-moz-transition: .2s ease-in;
-o-transition: .2s ease-in;
transition: .2s ease-in;
color: #fff;
}
 
.arrowRight a {
position: fixed;
z-index: 100;
right: -5px;
top: 45%;
padding: 53px 19px;
-webkit-transition: .2s ease-in;
-moz-transition: .2s ease-in;
-o-transition: .2s ease-in;
transition: .2s ease-in;
background-image: url('../images/img-banner-next.png');
}
 
.arrowRight a:hover {
right: 0;
-webkit-transition: .2s ease-in;
-moz-transition: .2s ease-in;
-o-transition: .2s ease-in;
transition: .2s ease-in;
color: #fff;
}
 
.arrowNav a {
color: #fff;
text-decoration: none;
font-size: 16px;
}